---
import { getCollection } from 'astro:content'
import Layout from '@layouts/Layout.astro'

let posts = await getCollection('posts')

posts = posts
  .sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf())
  .slice(0, 4)
---

<Layout>
	<h1>Astro</h1>
	<p class="my-4">Blog posts:</p>
	<ul class="list-inside list-disc">
		{
			posts.map((post) => (
				<li>
					<a class="underline" href={`/blog/${post.id}`}>
						{post.data.title}
					</a>
					<span>({post.data.date.toLocaleDateString()})</span>
				</li>
			))
		}
	</ul>
</Layout>